<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
</head>
<body>
<h1>Employee List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Emp No</th>
        <th>Name</th>
        <th>Job</th>
        <th>Hire Date</th>
        <th>Salary</th>
        <th>Department No</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <!-- Employee List -->
    <th:block th:each="emp : ${employees}">
        <tr>
            <td th:text="${emp._c0}"></td>
            <td th:text="${emp._c1}"></td>
            <td th:text="${emp._c2}"></td>
            <td th:text="${emp._c4}"></td>
            <td th:text="${emp._c5}"></td>
            <td th:text="${emp._c7}"></td>
            <td><img th:src="@{images/{img}(img=${emp._c8})}" alt="Image"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>
